main {
  font-family: copperplate, sans-serif;
  text-align: center
}

header {
  background-color: #C0C0C0;
  margin-bottom: 20px
}

footer {
  margin-left: 20px;
  margin-right: 20px
}

img {
  width: 100%;
  height: auto;
  text-align: center
}

::placeholder {
  text-align: center; 
}

.btn {
  font-family: inherit;
  background-color: #6495ED;
  color: black;
  padding: 8px;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-bottom: 10px
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  opacity: 0.8
}

.modal-content {
  color: #6A5ACD
}

.modal-header {
  background-color: #C0C0C0;
  color: 6A5ACD
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center
}

.modal-footer {
  background-color: #C0C0C0
}

.pokemon-list {
  display: grid
}

.list-group-item {
  border: 0 none
}

#pokemon-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#searchBar {
  border-color: #6A5ACD;
  border-width: 2.5px;
}

@media all and (min-width: 2250px) and (max-width: 2550px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (min-width: 1950px) and (max-width: 2250px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (min-width: 1650px) and (max-width: 1950px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (min-width: 1400px) and (max-width: 1650px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (min-width: 1150px) and (max-width: 1400px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (min-width: 900px) and (max-width: 1150px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (min-width: 750px) and (max-width: 900px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-style: none
  }
}

@media all and (max-width: 750px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-style: none
  }
}