main {
  font-family: copperplate, sans-serif;
  text-align: center;
}

header {
  background-color: #C0C0C0;
  margin-bottom: 20px;
}

footer {
  background-color: #F0F8FF;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  font-family: inherit;
  background-color: #6495ED;
  color: black;
  padding: 8px;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-bottom: 10px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.8;
}

.modal-content {
  color: #6A5ACD;
}

.modal-header {
  background-color: #C0C0C0;
  color: 6A5ACD;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer {
  background-color: #C0C0C0;
}

.pokemon-list {
  display: grid;
}

.list-group-item {
  border: 0 none;

}

/* @media all and (min-width: 2550px) and (max-width: 2850px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }
} */

@media all and (max-width: 600px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }  
}

@media all and (min-width: 600px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }  
}

@media all and (min-width: 768px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }  
}

@media all and (min-width: 992px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }  
}

@media all and (min-width: 1200px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    border-style: none;
  }  
}
